.App {
  text-align: center;
}
.linav{
  list-style-type: none;
}
.anav{
  text-decoration: none;
  color: #fff;
  margin-right: 70px;
  position: relative;
  left: 570px;
  top: 65px;
  font-weight: 500;
  font-size: large;
}
.navbar{
  background: #007bff;
  display: flex;
  height: 100px;
  position: relative;
  bottom: 20px;
}
.imgsenai{
  position: relative;
  height: 50px;
  top: 10px;
  left: 800px;
}
.footer{
  background: #007bff;
  display: flex;
  position: absolute;
  top: 850px;
  height: 100px;
  width: 1830px;
}
.textofooter{
  position: relative;
  color: #fff;
  top: -10px;
  left: 470px;
  font-size: 19px;
}
.textofooter1{
  position: relative;
  padding: 15px;
  color: #fff;
  margin-top: 25px;
  font-size: 18px;
}
.imgsesi{
  position: relative;
  height: 50px;
  top: 20px;
  left: 1300px;
}